* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: rgb(91,17,157);
    background: linear-gradient(152deg, rgba(91,17,157,1) 0%, rgba(243,108,139,1) 100%);
}

.nav-bar {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 91%;
    height: calc(100% - 48px);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.logo {
    width: 150px;
}

section {
    height: 50%;
    color: white;
}

.mood-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.mood-button a {
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    flex-basis: 30%;
}

.mood-button img {
    width: 80%;
    margin: 10px;
}

.mood-selected {
    border: black solid 3px;
}

.bottom-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    border-radius: 30px;
    padding: 16px;
    width: 90px;
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.button-ghost {
    visibility: hidden;
}

.nav-bar .button {
    width: 30px;
    padding: 4px 0;
    margin: 0 8px;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 5px;
}

.nav-bar .button-close.button {
    background-image: url(image/close-button.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 16px;
    width: 74px;
    border: none;
    background-color: transparent;
    color: transparent;
}

.nav-bar .button-back.button {
    background-image: url("image/back-arrow.png");
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 10px;
    width: 20px;
    background-color: transparent;
    color: transparent;
}

nav h1 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.index p {
    text-align: center;
    text-transform: uppercase;
}

/* onboarding override */

.onboarding .parent {
    height: 100%;
}

.onboarding section {
    text-align: center;
}

/* comment and edit */

.emoji-comment {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 90%;
}

.mood-select {
    margin-top: 10px;
}

.enter-comment {
    width: 90%;
    height: 200px;
    font-size: 1rem;
    padding: 8px;
    margin-top: 10px;
    background-color: #E3E3E4;
    border-radius: 5px;
}

.button-skip {
    background-color: #DBDBDC;
}

.button-primary {
    background-color: #FBD328;
}

/* mood-list override */

.mood-list section {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.mood-list li {
    border-radius: 5px;
    padding: 10px;
    margin: 12px;
    background-color: white;
    line-height: 1.2rem;
}

.mood-list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.mood-list li a img {
    width: 64px;
    height: 64px;
    margin: 8px;
}

.mood-list li a span {
    flex-basis: 100%;
}

.mood-list li p {
    height: 42px;
}

.no-comment {
    color: lightgrey;
    font-style: italic;
}

.cell-action {
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - (220px / 2));
    background: rgb(91,17,157);
    background: linear-gradient(152deg, rgba(91,17,157,1) 0%, rgba(243,108,139,1) 100%);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.40)
}

.mood-list li.cell-action a {
    display: inline-block;
    width: 100%;
}

.mood-info {
    padding: 0 10px;
    font-size: 0.9rem;
    position: relative;
    bottom: 8px;
}

.mood-date {
    background-image: url(image/icon-calendar.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px;
    padding-left: 20px;
    color: #BABABA;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 5px;
}


/* mood override */

.mood section p {
    padding: 8px;
    margin: 8px;
    border: black solid 1px;
}

.mood section a {
    color: black;
}

