* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: lightgrey;
}

.nav-bar {
    background-color: orange;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 91%;
    height: calc(100% - 48px);
    width: 100%;
    background-color: yellow;
    justify-content: space-evenly;
    align-items: center;
}

.parent > * {

}

header {
    background-color: deeppink;
}

.logo {
    width: 150px;
}

section {
    background-color: lightgrey;
    height: 50%;
}

.mood-button {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.mood-button img {
    width: 68px;
    height: 68px;
    margin: 10px;
}

.bottom-nav {
    background-color: dodgerblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: solid 1px black;
    border-radius: 4px;
    padding: 16px;
    width: 90px;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: beige;
    color: black;
    display: inline-block;
    text-align: center;
}

.button-ghost {
    visibility: hidden;
}


.nav-bar .button-close.button {
    font-size: 1.3rem;
    border: none;
    color: black;
    background-color: transparent;
    text-align: right;
    padding-right: 10px;
    width: 70px;
}

.nav-bar .button {
    width: 80px;
    padding: 4px 0;
    margin: 0 8px;
    text-align: center;
    font-size: 0.7rem;
    border: black solid 1px;
    border-radius: 5px;
    background-color: lightgrey;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* onboarding override */

.onboarding .parent {
    height: 100%;
}

.onboarding section {
    text-align: center;
}

/* comment override */

.enter-comment {
    width: 200px;
    height: 200px;
    font-size: 1rem;
    padding: 8px;
}

/* mood-list override */

.mood-list section {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-image: url("image/seeyouto.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.mood-list li {
    border: 1px solid black;
    padding: 8px;
    margin: 8px;
}

.cell-action {
    text-align: center;
    background-color: aqua;
}

.mood-list li.cell-action a {
    display: inline;
}

.cell-happy {
    background-color: lightgreen;
}

.cell-meh {
    background-color: lightgoldenrodyellow;
}

.cell-sad {
    background-color: lightcoral;
}

.mood-list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.mood-list li img {
    width: 50px;
    height: 50px;
}

/* mood override */

.mood section p {
    padding: 8px;
    margin: 8px;
    border: black solid 1px;
}

.mood section a {
    color: black;
}

